@model IEnumerable<Export_PDF_MVC.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Income Statement</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9pt;
        }      
    </style>
</head>
<body>
   <header style='padding: 2cm'>
       
    
        <div id='company' class='clearfix'>
           
        <div></div>
           <div></div>
          
           <div></div>
           
        </div>
       <div id='project'>
           <div font-size='100px'><span></span> </div>
          <div><span></span> </div>

          
           
          <div></div>
           
            
        </div>
        
    </header>
    <h4>Customers</h4>
    <hr />
    <div id="Grid">
        @*<div style='padding: 2cm'></div>
        <div><font size="14px" font-family='Calibri'>28th February 2017</font></div>
        <div font-size='100px'><font size='14px' font-family='Calibri'>Ang Kok Chin</font></div>
        <div><font size='14px' font-family='Calibri'>S7531239C</font></div>
        <div><B><font size='18px' font-family='Calibri'>Income Statement for the period 01-Jan-2016 to 31-Dec-2016</font></B></div>
        <div><span></span> </div>
        <div><font size='16px' font-family='Calibri'>This is to confirm your income for the year 2016 is summarized as below:</font></div>

        <div><B><font size='14px' font-family='Calibri'>Income:</font></B></div>*@
        @*<table>
        <tr>
            <td>
                <img src='https://adviserlogin.fa.com.sg/NewImages/fa_logo_white.gif' width='100' height='50'/>
            </td>

        </tr>

                </table>*@
        <img src='https://adviserlogin.fa.com.sg/NewImages/fa_logo_white.gif' width='100' height='50'>
        <table cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;">
            <tr>

                <th></th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">CustomerID</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">ContactName</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">City</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Country</th>
            </tr>
            @*@foreach (Customer customer in Model)
            {
                <tr>
                    <td style="width:120px;border: 1px solid #ccc">@customer.CustomerID</td>
                    <td style="width:120px;border: 1px solid #ccc">@customer.ContactName</td>
                    <td style="width:120px;border: 1px solid #ccc">@customer.City</td>
                    <td style="width:120px;border: 1px solid #ccc">@customer.Country</td>
                </tr>
            }*@
        </table>
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Export", "Home", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
</body>
</html>
